DB_URL=jdbc:postgresql://localhost:5433/polyclinic_db
DB_USERNAME=your_username_here
DB_PASSWORD=your_password_here
JWT_SECRET=generate_your_random_string_here
TELEGRAM_NAME=your_telegram_name
TELEGRAM_TOKEN=your_telegram_token
MAIL_USERNAME=your_username_or_email
MAIL_PASSWORD=your_password_email